*{
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 335px;
    width: 275px;
    background-color: rgba(255, 255, 255, 0.73);
    border-radius: 24px;
    box-shadow: 0 2px 10px rgb(90, 89, 89);
    transition: 0.4s;
}

.card:hover{
    box-shadow: 0 2px 20px rgb(90, 89, 89);
}

.blue-box{
    background-color: rgb(27, 84, 255);
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

.profile-img{
    height: 104px;
    width: 104px;
    background-color: white;
    border: 3px solid rgb(27, 84, 255);
    border-radius: 50%;
    position: absolute;
    top: 30px;
}

.profile-img img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 2px;
    opacity: 1;
}

.username{
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
}

.profession{
    text-align: center;
    font-size: 12px;
    color: black
}

.social-medias{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.facebook-icon, .twitter-icon, .instagram-icon, .linkedin-icon{
    height: 25px;
    width: 25px;
    background-color: #2b58b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0  6px;
    opacity: 0.8;
    transition: 0.2s;
}

.twitter-icon{
    background-color: #1DA1F2;
}

.instagram-icon{
    background-color: rgb(246, 7, 154);
}

.linkedin-icon{
    background-color: #0077B5 ;
}

.facebook-icon:hover, .twitter-icon:hover, .instagram-icon:hover, .linkedin-icon:hover{
    opacity: 1;
    transform: scale(1.1);
}

.facebook-icon:hover a i, .twitter-icon:hover a i, .instagram-icon:hover a i, .linkedin-icon:hover a i{
    opacity: 1;
    transform: scale(1.1);
}

.options{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.follow{
    width: 80px
}

.follow-message{
    background-color: rgb(27, 84, 255);
    color: white;
    opacity: 0.9;
    border: none;
    margin: 0 10px;
    border-radius: 14px;
    font-size: 10px;
    padding: 6px 18px;
    transition: 0.2s;
    cursor: pointer;
}

.follow-message:hover{
    transform: scale(1.05);
}

.reviews{
    display: flex;
    justify-content: center;
}

.like-share-comment{
    margin: 20px 0;
    font-size: 10px;
    color: black;
    /* border: 1px solid black; */
    padding: 0 16px;
}

.like-share-comment div i{
    padding-right: 6px;
}

.comment{
    border-left: 2px solid rgb(222, 222, 222);
    border-right: 2px solid rgb(222, 222, 222);
}